<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <section>
    <a href="/books">List of all books</a>
    <a href="/books/author">List of books by author</a>
    <a href="/books/category">List of books by category</a>

  </section>

</body>

</html>